.App {
  text-align: center;
}

/* tutor timetable header */
.tutor_header{
  background-color: #F1F1F1;
  text-align: center;
}

.tutor_timetable_header{
  vertical-align: middle;
  padding-bottom: 2rem;
  color: #6290C3;
}


/* TimeTable css */
.calendar{
  background-color: #E5E5E5;
  padding: 3rem;
}

.month-indicator{
  text-align: center;
  padding: 1rem;
}

.month-indicator time{
  font-size: 1.5rem;
  color: #6290C3;
  font-weight: 500;

}

.day-of-week,
.date-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}


.day-of-week {
  margin-top: 1.25em;
}

.day-of-week > * {
  font-size: 1.5rem;
  color: #6290C3;
  font-weight: 500;
  letter-spacing: 0.1em;
  font-variant: small-caps;
  text-align: center;
}

.date-grid button:first-child {
  grid-column: 6;
}

.date-grid button{
  position: relative;
  border: 0;
  padding: 1.5rem;
  margin: 0.5rem;
  border-radius: 6%;
  background-color: #FFFFFF;
}

.date-grid button:hover{
  background-color: #6290C3;
  color: #FFFFFF;
}
